.py[cod]
**/__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pdm-python
**/.venv/
**/.DS_Store
dist/
build/
*.app/
*.bin
*.spec
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

# Hugo docs site
site/public/
site/resources/
site/.hugo_build.lock
